<?xml version="1.0"?>
<!--/* DI CONFIG FILE (INITS) */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- FACADE CONFIGURATION -->
    <virtualType name="PaymentGatewayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Undostres\PaymentGateway\Model\Config::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">UndostresPaymentGatewayValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">UndostresPaymentGatewayCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- API INTERFACE -->
    <preference for="Undostres\PaymentGateway\Api\UndostresApiInterface" type="Undostres\PaymentGateway\Api\Api"/>

    <!-- VALUE HANDLERS -->
    <virtualType name="UndostresPaymentGatewayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">UndostresPaymentGatewayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="UndostresPaymentGatewayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Undostres\PaymentGateway\Model\Config</argument>
        </arguments>
    </virtualType>

    <!-- CONFIGURATION READER -->
    <type name="Undostres\PaymentGateway\Model\Config">
        <arguments>
            <argument name="gatewayCode" xsi:type="const">Undostres\PaymentGateway\Model\Config::CODE</argument>
        </arguments>
    </type>

    <!-- LOGGER -->
    <type name="Undostres\PaymentGateway\Logger\Handler\Logger">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Undostres\PaymentGateway\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">undostres</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Undostres\PaymentGateway\Logger\Handler\Logger</item>
            </argument>
        </arguments>
    </type>

    <!-- COMMANDS INFRASTRUCTURE -->
    <virtualType name="UndostresPaymentGatewayCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="initialize" xsi:type="string">UndostresPaymentGatewayInitializeCommand</item>
                <item name="refund" xsi:type="string">UndostresPaymentGatewayRefundCommand</item>
                <item name="void" xsi:type="string">UndostresPaymentGatewayVoidCommand</item>
                <item name="cancel" xsi:type="string">UndostresPaymentGatewayVoidCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- PAYMENT COMMAND -->
    <virtualType name="UndostresPaymentGatewayInitializeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Undostres\PaymentGateway\Gateway\Request\InitializationRequest</argument>
            <argument name="transferFactory" xsi:type="object">Undostres\PaymentGateway\Gateway\Http\TransferFactory
            </argument>
            <argument name="client" xsi:type="object">Undostres\PaymentGateway\Gateway\Http\Client\Client</argument>
        </arguments>
    </virtualType>

    <!-- VOID/CANCEL COMMAND -->
    <virtualType name="UndostresPaymentGatewayVoidCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Undostres\PaymentGateway\Gateway\Request\VoidRequest</argument>
            <argument name="transferFactory" xsi:type="object">Undostres\PaymentGateway\Gateway\Http\TransferFactory</argument>
            <argument name="handler" xsi:type="object">Undostres\PaymentGateway\Response\VoidHandler</argument>
            <argument name="client" xsi:type="object">Undostres\PaymentGateway\Gateway\Http\Client\VoidClient</argument>
        </arguments>
    </virtualType>

    <!-- REFUND COMMAND -->
    <virtualType name="UndostresPaymentGatewayRefundCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Undostres\PaymentGateway\Gateway\Request\RefundRequest
            </argument>
            <argument name="transferFactory" xsi:type="object">Undostres\PaymentGateway\Gateway\Http\TransferFactory
            </argument>
            <argument name="handler" xsi:type="object">Undostres\PaymentGateway\Response\RefundHandler</argument>
            <argument name="client" xsi:type="object">Undostres\PaymentGateway\Gateway\Http\Client\RefundClient
            </argument>
        </arguments>
    </virtualType>
</config>
