<?xml version="1.0"?>
<!--/* OBSERVER TO HIDE THE GATEWAYS */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_is_active">
        <observer name="unDosTres_paymentGateway_DisableGateways" instance="unDosTres\paymentGateway\Observer\DisableGateways" />
    </event>
    <event name="controller_action_predispatch">
        <observer name="unDosTres_paymentGateway_Cookie" instance="unDosTres\paymentGateway\Observer\Cookie" />
    </event>

</config>
