<?xml version="1.0"?>
<!--/* ADD UDT CONFIG TO FRONTEND */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="unDosTres" frontName="unDosTres">
            <module name="magento-gateway-undostres" />
        </route>
    </router>
</config>
