<?xml version="1.0"?>
<!--/* ADMIN FRONT END CONFIG */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="undostres-gateway" translate="label" sortOrder="100" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>UnDosTres Payment Gateway</label>
                 <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Activado</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Países permitidos</label>
                    <source_model>Undostres\paymentGateway\Model\Config\Source\RestrictedCountry</source_model>
                </field>
                <field id="mode" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Modo</label>
                    <source_model>Undostres\paymentGateway\Model\Config\Source\Mode</source_model>
                </field>
                <field id="key" translate="label" type="password" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Key</label>
                </field>
                <field id="log" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Logging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>

